*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Rubik:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: rgb(255, 196, 250)
}
/*--------------------------------------------------------------------------- CARROSEL e MENU -------------------------------------------------------------------------*/
.topo{
    background-color: rgb(220, 103, 243);
    width: 100%;
    right: 40px;
}

.logo{
    margin-top: -90px;
    margin-left: 30px;
}

.menu{
    width: 1000px;
    height: 90px;
    margin-left: 400px;
    display: flex;
    justify-content: flex-end;
}

.menu ul{   
    width: 138px;
    height: 85px;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Andale Mono, monospace;
    font-size: 18px;
    padding: 17px 30px;
}


a:hover {
	text-decoration: underline;
	color: rgb(255, 255, 255)
}

/*--------------------------------------------------------------------------- PROPRITÁRIA -------------------------------------------------------------------------*/


h1{
    display: flex;
    justify-content: center;

    margin: 2rem 0 2rem 0;

    font-family: heebo;
    font-size: 40px;
}

.cards {
    top: 135px;
    position: absolute;
    border-radius: 10px;
    
    grid-gap: 40px;
}

.card {
    left: 400px;
    margin: 20px 560px 20px;
    position: relative;
    background-color: white;
    flex-direction: column;
    align-items: center;


    padding: 40px 40px;

    box-shadow: 8px 8px 10px 15px rgba(0,0,0,0.171);
}

p{
    text-align: center;
    font-family: roboto;

    font-size: 18px;
}

.container{
    height: 420px;
    margin-top: 30px;
    margin-left: 40px;
    background-color: white;
    width: 1800px;
    border-radius: 20px;
}

.imagem1{
    position: relative;
    left: 90px;
    top: 25px;
}

/*--------------------------------------------------------------------------- EQUIPE -------------------------------------------------------------------------*/

.container1{
    display: flex;
    background-color: white;
    width: 99%;
    border-radius: 20px;
    margin-left: 11px;
}

.imagemequipe{
    margin: 40px;
    align-items: center;
}

.imagemequipe{
    margin: 40px;
    align-items: center;
}

.imagemequipe p{
   font-size: 40px;
}

/*--------------------------------------------------------------------------- RODAPÉ -------------------------------------------------------------------------*/


.rodape {
    width: 100%;
    height: 60px;
    background-color: rgb(220, 103, 243);
    color: white;
}

.texto2{
    position: absolute;
    margin-left: 800px;
    margin-top: 20px;
}




